{% extends 'base.html' %}

{% block title %}{{category}}{% endblock %}

<main>
    {% block sidebar %}
    <div class="list-group">
        {% for category in categories %}
        <a href="{% url 'category' category.pk %}" class="list-group-item list-group-item-action">{{category.title}}({{category.parent}})</a>
        {% endfor %}
    </div>
    {% endblock %}

    {% block content %}
    {% for item in all_tests %}
    <div class="card text-bg-secondary mb-3" style="max-width: 70rem;">
        <div class="card-header">{{item.category}}</div>
        <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description}}</p>
        </div>
    </div>
    {% endfor %}
    {% endblock %}
</main>
