{% extends 'base.html' %}

{% block title %}{{category}}{% endblock %}

<main>
    {% block accordion %}
    {% load testik_tags %}
    <div align="center">
        <p class="fw-semibold">Категрия: {{category}}</p>
        <button class="btn btn-primary" onclick="history.back()">Вернуться ко всем тестам</button>
    </div>
    {% endblock %}

    {% block content %}
    {% include 'inc/_content.html' %}
    {% endblock %}

    {% block sidebar %}
    {% include 'inc/_sidebar.html' %}
    {% endblock %}
</main>
