{% extends 'base.html' %}

{% block title %}История пройденных тестов{% endblock %}

<main>
    {% block accordion %}{% endblock %}
    {% block sidebar %}{% endblock %}
    {% block content %}
    {% include 'inc/_history.html' %}
    {% endblock %}
</main>

<!--TODO?-->
<!--<footer>-->
<!--    <nav aria-label="Пример навигации по страницам">-->
<!--        <ul class="pagination justify-content-center">-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" href="#" aria-label="Предыдущая">-->
<!--                    <span aria-hidden="true">&laquo;</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" href="#" aria-label="Следующая">-->
<!--                    <span aria-hidden="true">&raquo;</span>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</footer>-->