<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Testetique</title>
</head>
<body>
<style>
    header {
        margin-bottom: 60px;
    }

    body {
        overflow-x: hidden;
    }
</style>
<header>
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Testetique</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/tests/">Тесты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/history/">История тестов</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" maxlength="150"
                           placeholder="Введите название теста, например, Как хорошо ты знаешь игры?"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">🔍</button>
                </form>

                <span class="navbar-text">
                        <a href="/register/">Register</a> | <a href="/login/">Login</a>
                    </span>

            </div>
        </div>
    </nav>
</header>
<style>
    .d-flex {
        width: 650px;
        margin: 0 auto;
    }
</style>
<main>
    <div class="card text-center d-flex" style="align-content: center;width:80%; ">
        <div class="card-body">
            <h5 class="card-title">
                <div class="badge bg-secondary text-wrap fs-2 position-absolute top-0 start-0" style="width: 9rem;">
                    О нас:
                </div>
            </h5>
            <br/> <br/>
            <div class="card-group d-flex" style="align-content: center;width: 80%">
                <div class="card">
                    <img src="https://i.yapx.ru/S1YEZ.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Босс</h5>
                        <p class="card-text">На ином уровне</p>
                        <p class="card-text"><small class="text-muted"><a href="https://github.com/Addefan">Зорин
                            Виталий</a><br>@Addefan</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.yapx.ru/S1YEd.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Гений</h5>
                        <p class="card-text">Миллиардер, плейбой, филантроп</p>
                        <p class="card-text"><small class="text-muted"><a href="https://github.com/uevuu">Марьин
                            Никита</a><br>@ueevu</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.yapx.ru/S1YEX.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Талант</h5>
                        <p class="card-text">Пока нераскрытый</p>
                        <p class="card-text"><small class="text-muted"><a href="https://github.com/lovecloudzzz">Моисеенко
                            Дмитрий</a><br>@lovecloudzzz</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>