{% extends 'base.html' %}
{% block title %}{{ test.title }}{% endblock %}
<main>
    {% block accordion %}{% endblock %}

    {% block content %}
    <form action="{% url 'result' test.id %}" method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header text-center">
                <h5>{{ test }}</h5>
            </div>
            <div class="card-body">
                {% for question in questions %}
                {% if forloop.counter != 1 %}
                <hr>
                {% endif %}
                <h6 class="card-title">{{ forloop.counter }}. {{ question.question_text }}</h6>
                {% if question.question_type == -1 %}
                {% for answer in question.answer_set.all %}
                <input type="text" name="{{ question.id }}" id="{{ answer.answer_text }}">
                {% endfor %}
                {% elif question.question_type == 0 %}
                <fieldset>
                    {% for answer in question.answer_set.all %}
                    <input type="radio" name="{{ question.id }}" id="onechoice{{ forloop.counter }}"
                           value="{{ answer.id }}">
                    <label for="onechoice{{ forloop.counter }}">{{ answer.answer_text }}</label><br>
                    {% endfor %}
                </fieldset>
                {% else %}
                <fieldset>
                    {% for answer in question.answer_set.all %}
                    <input type="checkbox" name="{{ question.id }}" id="choice{{ forloop.counter }}"
                           value="{{ answer.id }}">
                    <label for="choice{{ forloop.counter }}">{{ answer.answer_text }}</label><br>
                    {% endfor %}
                </fieldset>
                {% endif %}
                {% endfor %}
            </div>
            <div class="card-footer"><input type="submit" class="btn btn-primary w-100" value="Завершить"></div>
        </div>
    </form>
    {% endblock %}
    {% block sidebar %}{% endblock %}
</main>