{% extends 'base.html' %}

{% block title %}Результаты поиска{% endblock %}

<main>
    {% block accordion %}
    <div align="center">
        <p class="fw-semibold">Результаты по запросу: {{test_title}}</p>
        <a class="btn btn-primary" href="/tests">Вернуться ко всем тестам</a>
    </div>
    {% endblock %}

    {% block content %}
    {% include 'inc/_content.html' %}
    {% if test_title|lower == 'siu'%}
    <img src="https://i.gifer.com/Iyo.gif" alt="я джифка">
    <img src="https://c.tenor.com/ZgsyS1epGSYAAAAd/siuuu-ronaldo.gif" alt="я джифка">
    <img src="https://i.pinimg.com/originals/7a/85/a2/7a85a2fbffc6d93167b954c78873b505.gif" alt="я джифка">
    {% endif%}
    {% endblock %}

    {% block sidebar %}
    <h5 style="text-align: center;">Сортировка</h5>
    <form action="" method="get" id="foo1">
        {% include 'inc/_sidebar.html' %}
        <div class="accordion-item">
            <button style="width: 100%" class="btn btn-primary" type="submit">Сортировать</button>
        </div>
        <input type="hidden" name="test_title" value={{test_url}}>
    </form>
    {% endblock %}
</main>
