<style>
    table {
        background: #e0e0e0;
        width: 100%;
        border-radius: 10px;
    }

    TD, TH {
        padding: 20px;
    }

    .errorlist {
        color: red;
        display: inline-block;
    }

    .btn-primary {
        width: 100%;
    }

</style>

<form method="POST">
    <br>
    <h3>{{ form_title }}</h3>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-primary col-lg-6">{{ button_title }}</button>
</form>